*,
*::before,
*::after {
  box-sizing: border-box;
  color: $color-black;
}

.section-default {
  padding-left: $padding-x-default;
  padding-right: $padding-x-default;
  @media screen and (min-width: calc($max-width + 150px)) {
    padding-left: unset;
    padding-right: unset;
  }
}