h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-inter;
}
h1 {
  font-size: clamp(5rem, 9vw, 8rem);
  font-weight: $font-bold;
}
h2 {
  font-size: clamp(4rem, 8vw, 7rem);
  font-weight: $font-semi-bold;
}
h3 {
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: $font-bold;
}
h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: $font-bold;
}
p {
  font-size: 1rem;
  font-family: $font-inter;
  font-weight: $font-regular;
}

.font-michroma {
  font-family: $font-michroma;
}
.font-inter-thin {
  font-family: $font-inter;
  font-weight: $font-thin;
}
.font-inter-extra-light {
  font-family: $font-inter;
  font-weight: $font-extra-light;
}
.font-inter-light {
  font-family: $font-inter;
  font-weight: $font-light;
}
.font-inter-regular {
  font-family: $font-inter;
  font-weight: $font-regular;
}
.font-inter-medium {
  font-family: $font-inter;
  font-weight: $font-medium;
}
.font-inter-semi-bold {
  font-family: $font-inter;
  font-weight: $font-semi-bold;
}
.font-inter-bold {
  font-family: $font-inter;
  font-weight: $font-bold;
}
.font-inter-extra-bold {
  font-family: $font-inter;
  font-weight: $font-extra-bold;
}
.font-inter-black {
  font-family: $font-inter;
  font-weight: $font-black;
}
