h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-inter;
}
h1 {
  font-size: clamp(3rem, 7vw, 5rem);
  line-height: clamp(3.2rem, 7vw, 5.4rem);
  font-weight: $font-bold;
}
h2 {
  font-size: clamp(2.5rem, 6vw, 4rem);
  line-height: clamp(2.5rem, 6vw, 4rem);
  font-weight: $font-semi-bold;
}
h3 {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: clamp(2rem, 5vw, 3rem);
  font-weight: $font-bold;
}
h4 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: clamp(1.5rem, 3vw, 2rem);
  font-weight: $font-bold;
}
p {
  font-size: 1rem;
  font-family: $font-inter;
  font-weight: $font-regular;
}

a {
  font-family: $font-inter;
  font-weight: $font-regular;
}

.font-michroma {
  font-family: $font-michroma;
}
.font-inter-thin {
  font-family: $font-inter;
  font-weight: $font-thin;
}
.font-inter-extra-light {
  font-family: $font-inter;
  font-weight: $font-extra-light;
}
.font-inter-light {
  font-family: $font-inter;
  font-weight: $font-light;
}
.font-inter-regular {
  font-family: $font-inter;
  font-weight: $font-regular;
}
.font-inter-medium {
  font-family: $font-inter;
  font-weight: $font-medium;
}
.font-inter-semi-bold {
  font-family: $font-inter;
  font-weight: $font-semi-bold;
}
.font-inter-bold {
  font-family: $font-inter;
  font-weight: $font-bold;
}
.font-inter-extra-bold {
  font-family: $font-inter;
  font-weight: $font-extra-bold;
}
.font-inter-black {
  font-family: $font-inter;
  font-weight: $font-black;
}

.link {
  color: $color-black;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
  font-family: $font-inter;
  font-weight: $font-medium;
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $color-black;
    transition: width 0.1s ease-in-out;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
