input,
select,
textarea {
  border: 1px solid $color-black;
  border-radius: 0.5rem;
  padding: 10px;
  font-family: $font-loos-thin;
  background: white;
  white-space: nowrap;
  &::placeholder {
    color: #9ba3af;
  }
}